<div class="container">

  <h1>Name</h1>

  <form action="#">
    <p>
      <label>
        <input name="group1" type="radio" checked />
        <span>Male</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" type="radio" />
        <span>Female</span>
      </label>
    </p>
    <p>
      <label>
        <input class="with-gap" name="group1" type="radio"  />
        <span>Other</span>
      </label>
    </p>
  </form>

  <label>DOB</label>
  <input type="text" class="datepicker">

  <div class="row">
    <div class="col s12">
      <div class="input-field inline">
        <input id="email_inline" type="email" class="validate">
        <label for="email_inline">Address</label>
      </div>
    </div>
  </div>

  <p>Username</p>
  <p>Email</p>
  <p>Password</p>
  <hr>
  <p>
    past ask #
  </p>
  <p>
    past offer #
  </p>
  <a class="waves-effect waves-light btn">Delete Account</a>
  <hr>
  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Select Skills</option>
      <option value="1">Legal Advice</option>
      <option value="2">Carpentry</option>
      <option value="3">Gardening</option>
      <option value="1">Mechanic</option>
      <option value="2">Manual Labor</option>
      <option value="3">Technical Skills</option>
      <option value="1">Home Design</option>
      <option value="2">Tutoring</option>
      <option value="3">Caregiving</option>
    </select>
  </div>

</div>
