<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Lemon" rel="stylesheet">
    <title>FAVORS??!</title>
  </head>
  <body>

  <!--Miss Vanjie -->


    <nav class="pink accent-2">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img class="responsive-img" src="/img/logosmall.png"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="dropdown-trigger" href="#!" data-target="mylists">My?<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/all" class="nav-link">All Queens</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="seasons">Seasons<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="login-dropdown">
          <% if (currentUser) { %>
           <%= currentUser.name%>
          <% }%>

        <i class="material-icons right">perm_identity</i></li>
    </a>
    </div>
  </nav>

<!--Miss Vanjie -->
 <ul id="mobile-demo" class="sidenav">
   <% if (currentUser) { %>
    <p>Hiieeeeeeeeee,  <%= currentUser.name%>!</p>
   <li><a href="/users/<%= currentUser.id %>">Your Profile</a></li>
   <li><a href="/auth/logout">Log Out</a></li>
   <% } else { %>
     <li><a class="modal-trigger" href="#sign-up">Sign Up</a></li>
     <li><a class="modal-trigger" href="#login">Log In</a></li>
     <% }; %>
   <li><a href="/all">All ??</a></li>`
       <li class="no-padding">
         <ul class="collapsible collapsible-accordion">
           <li>
             <a class="collapsible-header">Hiiii<i class="material-icons">arrow_drop_down</i></a>
             <div class="collapsible-body">
               <ul>
                 <li><a href="/season/1">1</a></li>
                 <li><a href="/season/2">2</a></li>
                 <li><a href="/season/3">3</a></li>
               </ul>
             </div>
           </li>
         </ul>
       </li>
       <li class="no-padding">
         <ul class="collapsible collapsible-accordion">
           <li>
             <a class="collapsible-header">My Lists<i class="material-icons">arrow_drop_down</i></a>
             <div class="collapsible-body">
               <ul>
                 <li><a href="/lists">My Lists</a></li>
                 <li><a class="modal-trigger" href="#newlist">New List</a></li>
               </ul>
             </div>
           </li>
         </ul>
       </li>
       <li class="no-padding">
       </li>

     </ul>


  <!-- seasons dropdown -->
  <ul id="seasons" class="dropdown-content">
    <li><a href="/season/1">1</a></li>
    <li><a href="/season/2">2</a></li>
    <li><a href="/season/3">3</a></li>
  </ul>

<!-- signup modal -->
  <div id="sign-up" class="modal">
    <div class="modal-content">
      <h4>Sign Up</h4>
      <form action="/auth/signup" method="POST">
        <div class="form-group">
          <label for="authEmail">Email</label>
          <input id="authEmail" class="form-control" type="email" name="email">
        </div>

        <div class="form-group">
          <label for="authName">Name</label>
          <input id="authName" class="form-control" type="text" name="name">
        </div>

        <div class="form-group">
          <label for="authPassword">Password</label>
          <input id="authPassword" class="form-control" type="password" name="password">
        </div>

        <input class="btn pink accent-2 modal-close" type="submit">
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-pink btn-flat">Close</a>
    </div>
  </div>

  <!-- login modal -->
  <div id="login" class="modal">
    <div class="modal-content">
      <h4>Log In</h4>
      <form action="/auth/login" method="POST">
        <div class="form-group">
          <label for="authEmail">Email</label>
          <input id="authEmail" class="form-control" type="email" name="email">
        </div>

        <div class="form-group">
          <label for="authPassword">Password</label>
          <input id="authPassword" class="form-control" type="password" name="password">
        </div>

        <input class="btn pink accent-2" type="submit">
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-pink btn-flat">Close</a>
    </div>
  </div>

  <div class="container">
  <%- body %>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src='/js/script.js'></script>
  </body>
</html>
