<div class="container">

  <h1>Offer</h1>

  <div class=“row”>

     <form class="col s12">

      <div class="bio">
       <div class=“row”>
         <div class=“input-field col s12”>
           <input id=“password” type=“password” class=“validate”>
         </div>
       </div>
       <div class=“row”>
         <div class=“input-field col s12”>
           <input id=“email” type=“email” class=“validate”>
         </div>
       </div>
       <div class=“row”>
         <div class=“input-field col s12”>
           <input id=“email” type=“email” class=“validate”>
         </div>
       </div>
       <div class=“row”>
         <div class=“input-field col s12”>
           <input id=“email” type=“email” class=“validate”>
         </div>
       </div>
       <div class=“row”>
         <div class=“input-field col s12”>
           <input id=“email” type=“email” class=“validate”>
         </div>
       </div>
     </div>

     <div class="input-field request">
      <select>
        <option value="">Type of offer</option>
        <option value="1">Strength - move couch up stairs, etc</option>
        <option value="2">Errand - pick up groceries, laundry, dog walk</option>
        <option value="3">Transportation -  give someone a ride</option>
        <option value="1">Company - lonely/sad/bored or wants workout buddy</option>
        <option value="2">Tudor - math/ language</option>
        <option value="3">Food - feed someone, teach someone to cook, make something to share</option>
        <option value="1">Garden- yard work</option>
        <option value="2">Advice - legal, medical, relationship etc</option>
        <option value="3">Tech - “did you try turning it off/on?”</option>
        <option value="1">Moving - packing/ unpacking boxes,</option>
        <option value="2">Fun - need bike, kayak, basketball</option>
        <option value="3">maintenance - broken something, paint wall,</option>
        <option value="2">Exchange/ items - books, furniture, whatever</option>
        <option value="3">Caregiving - trim toenails (old people often can’t), cut hair,</option>
      </select>
    </div>

      <div>
        <input type="text" class="timepicker">
        <input type="text" class="datepicker">
      </div>

      <div class="input-field col s12 neighborhood">
        <select>
          <option value="" disabled selected>Neighborhood</option>
          <option value="1">Capitol Hill</option>
          <option value="2">North Seattle</option>
          <option value="3">Queen Anne</option>
        </select>
      </div>

      <p>
        <label>
          <input type="checkbox" class="filled-in" checked="checked" />
          <span>Alert ?</span>
        </label>
      </p>

      <a class="waves-effect waves-light btn">Offer</a>


     </form>
    </div>
 </div>
