<div class="container">

  <div class="ask">
    <h1>Ask:</h1>
    <p>Exchange, Tech</p>
  </div>

<div class="">
  <h2>Offer:</h2>
  <p>
    Exchange, Transportation
  </p>
</div>

  <hr>
  <h1>Jacob Sanayer</h1>
  <p>Age: 49</p>
  <p>Gender: Male</p>
  <p>
    I am not able to connect the used laptop that I just bought to the internet.
  </p>
  <img src="/Jacob.jpg" class="images"/>

  <div class="">
    <a class="waves-effect waves-light btn-large">Message</a>
  </div>

</div>
