<div class="container">

  <div class="ask">
    <h1>Ask:</h1>
    <p>Maintenance, Caregiving, Gardener</p>
  </div>

<div class="">
  <h2>Offer:</h2>
  <p>
    Advice, Food, Company
  </p>
</div>

  <hr>
  <h1>Susan Rivelli</h1>
  <p>Age: 71</p>
  <p>Gender: Female</p>
  <p>
    My son joined the military & I need a good person to help me with some yard work
  </p>
  <img src="/Susan.jpg" class="images"/>

  <div class="">
    <a class="waves-effect waves-light btn-large">Message</a>
  </div>

</div>
