<h1>Your Lists</h1>

<% lists.forEach(function(list) { %>
    <div>
      <a href="/lists/<%= list.id %>"><h4><%= list.name %></h4></a>
    </div>
 <% }); %>
 <br>
<button class="btn pink accent-2 modal-trigger newlist" type="button" href="#newlist">New List</button>
